.home-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-box {
    padding: 0px;
    border-radius: 0px;
    box-shadow: 0 30px 25px rgba(170, 7, 7, 0.801), 0 10px 10px rgba(131, 16, 16, 0.22);
    width: 400px;
}